* {
  font-family: montserrat;
  color: white;
  font-size: 15px;
}

.mainMenu {
  width: 100vw;
  height: 60px;
  background-color: #041E42;
  background-image: url(../../../assets/img/logo.png);
  background-repeat: no-repeat;
  background-size: 45px 40px;
  background-position: 20px 10px;
  ul {
    display: flex;
    margin-top: initial;
  }
  li{
    list-style: none;
    margin-top: 20px;
  }
  a {
    margin: 20px;
    text-decoration: none;
  }
  a:hover {
    font-size: 25px;
  }
  .float {
    margin-left: auto;
  }
  .logout {
    background-image: url(../../../assets/img/Icon-exit.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: right;
    margin-right: 80px;
    padding: 0px 20px 0px 20px; 
  }
  .text-right {
    margin-left: 50px;
  }
}