.sshow {
  display: block;
}

.hhidden {
  display: none;
}

.mmodal {
  z-index: 1000;
  position: fixed;
  top: 20%;
  bottom: 0;
  left: 35vw;
  width: 400px;
  text-align: center;
  color: white;
}
.mmodal-body {
  background: #041E42;
  border-radius: 50px;
  padding: 20px;
}

.mmodal-background {
  z-index: 900;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.95;
}

.btn {
  text-decoration: none;
  font-family: arial;
  font-size: 17px;
  padding: 8px 30px 8px 30px;
  color: white;
  background-color: #FFB612;
  border: 2px solid #FFB612;
  border-radius: 30px;
  margin: 0px 0px 0px 80px;
}

.btn-no {
  font-family: arial;
  font-size: 17px;
  color: white;
  margin-left: 20px;
}

.btns {
  margin-top: 30px;
  padding: 15px;
}