* {
  font-family: montserrat;
}

.title{
  color: #FFB612;
  font-weight: 200;
  text-align: center;
  font-size: 70px;
}

.table-contain {
  width: 80vw;
  margin-left: 10vw;
  text-align: center;
  a {
    margin: 0px 10px 0px 10px;
  }
}


.modalDialog {
  color: #fff;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
  text-align: center;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 350px;
  height: 175px;
	position: relative;
	margin: 10% auto;
	padding: 30px 30px 0px 30px;
	border-radius: 30px;
	background: #041E42;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.btn {
  text-decoration: none;
  font-family: arial;
  font-size: 17px;
  padding: 8px 30px 8px 30px;
  color: white;
  background-color: #FFB612;
  border: 2px solid #FFB612;
  border-radius: 30px;
  margin: 0px 0px 0px 80px;
}

.btn-no {
  font-family: arial;
  font-size: 17px;
  color: white;
  margin-left: 20px;
}

.btns {
  margin-top: 30px;
  padding: 15px;
}