<h1 class="title">Listado de Productos</h1>
<div class="table-contain">
  <table id="list" class="display">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre del Producto</th>
        <th>Cantidad en Tienda</th>
        <th>Categoria</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Row 1 Data 2</td>
        <td>Row 1 Data 3</td>
        <td>Row 1 Data 4</td>
        <td><a href="">editar</a><a href="#openModal">eliminar</a></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Row 2 Data 2</td>
        <td>Row 2 Data 3</td>
        <td>Row 2 Data 4</td>
        <td><a href="">editar</a><a href="#openModal">eliminar</a></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Row 1 Data 2</td>
        <td>Row 1 Data 3</td>
        <td>Row 1 Data 4</td>
        <td><a href="">editar</a><a href="#openModal">eliminar</a></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Row 2 Data 2</td>
        <td>Row 2 Data 3</td>
        <td>Row 2 Data 4</td>
        <td><a href="">editar</a><a href="#openModal">eliminar</a></td>
      </tr>
      <tr>
        <td>4</td>
        <td>Row 1 Data 2</td>
        <td>Row 1 Data 3</td>
        <td>Row 1 Data 4</td>
        <td><a href="">editar</a><a href="#openModal">eliminar</a></td>
      </tr>
      <tr>
        <td>5</td>
        <td>Row 2 Data 2</td>
        <td>Row 2 Data 3</td>
        <td>Row 2 Data 4</td>
        <td><a href="">editar</a><a href="#openModal">eliminar</a></td>
      </tr>
      <tr>
        <td>6</td>
        <td>Row 1 Data 2</td>
        <td>Row 1 Data 3</td>
        <td>Row 1 Data 4</td>
        <td><a href="">editar</a><a href="#openModal">eliminar</a></td>
      </tr>
      <tr>
        <td>7</td>
        <td>Row 2 Data 2</td>
        <td>Row 2 Data 3</td>
        <td>Row 2 Data 4</td>
        <td><a href="">editar</a><a href="#openModal">eliminar</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div id="openModal" class="modalDialog">
	<div>
		<p>¿Eliminar este producto?</p>
    <p>Nombre Producto</p>
    <div class="btns">
      <a class="btn-no" href="">cancelar</a>
      <a class="btn" href="" >aceptar</a>
    </div>
	</div>
</div>

